body {
    background-color: #0fd3dd;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h2{
    font-size: 2 rem;
    font-weight: bold;
    font-style: italic;
    font-weight: bolder;
}


 h1 {
     font-size: 3rem;
     font-weight: bolder;
 }


img {
    height: 550px;
    width: 550px;
    /* margin-left: 32%; */
   
}
 

.image{
    display: flex;
        justify-content: center;
        align-items: center

}